apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: k8s
  namespace: monitoring
spec:
  serviceMonitorSelector:
    matchLabels:
      release: monitoring    # Should match ServiceMonitor label
  serviceMonitorNamespaceSelector: {}
